<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, nihil vero? Aut incidunt illum, voluptates sint animi velit tenetur eos quaerat saepe, suscipit architecto ab enim voluptatibus ullam iste. Quibusdam.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur error cumque autem vero maxime nam earum suscipit esse! Suscipit assumenda sunt autem earum minus ad sapiente, sequi natus ipsum quam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae tenetur consectetur eius nobis, atque dolore ab impedit tempora asperiores voluptates error et quaerat harum magni aliquid! Illo dolore modi iure quam quia qui aperiam eum ad id. Eos soluta voluptates, omnis blanditiis repellendus earum, nemo nam, natus labore culpa veritatis. Ipsa culpa illum, saepe fugit tempora laborum sint, voluptatibus esse ab provident quidem fuga eum sit in voluptatum rem nobis repudiandae voluptate atque. Laboriosam quidem nisi consectetur quaerat nulla. Corporis quidem repudiandae nobis atque totam natus libero, eos labore voluptates delectus unde incidunt sint dignissimos provident omnis dicta nihil doloribus facilis ratione quisquam, perferendis amet accusantium nulla. Repellendus, adipisci eum ut facilis similique, repudiandae reiciendis deleniti facere culpa alias quidem ipsam, unde fugit vel incidunt laboriosam! Fuga incidunt exercitationem provident pariatur obcaecati ratione enim alias eligendi nostrum! Dolor deleniti voluptates voluptatum omnis? Reiciendis, consequatur cumque? Aspernatur nemo eaque vero?
</p>

<%- contentFor('image')%>
<img src="https://t4.ftcdn.net/jpg/05/06/80/77/360_F_506807709_dVXx2UkBR0EHTAuBl1jFBi9mQs43NK8a.jpg" alt="">
<%- contentFor('footer')%>
This is footer section of about page