<h1>Contact Us</h1>
<form>
    <input type="email" placeholder="Enter your email">
    <button type="submit">Submit</button>
</form>

<%- contentFor('footer')%>
<%- contentFor('image')%>
<img src="https://static.vecteezy.com/system/resources/previews/008/558/709/non_2x/contact-us-text-button-web-button-template-contact-us-vector.jpg" alt="">
This is footer section of contact page