<h1>Welcome to Travel Booking</h1>
<img src="https://t4.ftcdn.net/jpg/00/65/48/25/360_F_65482539_C0ZozE5gUjCafz7Xq98WB4dW6LAhqKfs.jpg" alt="image is loading">

<%- contentFor('footer')%>
<%- contentFor('image')%>
<img src="https://images.javatpoint.com/computer/images/what-is-a-home-page.jpg" alt="">
This is footer section of home page