<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=firstName%> <%=lastName%></title>
    <style>
        body{
            background-color: #eee;
        }
        .container{
            background-color: white;
            padding:20px;
            margin: 20px auto;
            text-align: center; 
            width:min-content;
            box-shadow: rgba(0,0,0,24) 0px 3px 8px;
            border-radius: 5px
        }
        img{
            border-radius:50% ;

        }
    </style>
</head>
<body>

    <div class="container">
        <h1><%=firstName%> <%=lastName%></h1>
        <img src="https://reqres.in/img/faces/3-image.jpg" alt="">
        <p>samiksha@gmail.com</p>
    </div>

</body>
</html>